{% extends "areview/base2.html" %}
{% block title %}L O G I N{%endblock title%}
{% block header %}L O G I N{% endblock header%}
{%block content%}
<div style="position: relative; left: 500px; top: 70px;"><h3>로그인 페이지 입니다. </h3><br><br>
<form method="post" action="">

    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <button1 type="submit" style="position: relative; left: 0px; top: 0px;" > 로 그 인 </button1>
    <button style="position: relative; left: 5px; top: 0px;" onclick="window.location.href='{% url 'areview:join' %}'" > 회 원 가 입</button>

</form>
</div>
{% endblock content%}
